# Disallow my private stuff
/music/
/videos/
/linklist-*
/alreadydownloaded*.txt
/once.yaml

# Explicitly allow encrypted versions of my lists
!/*.crypt

# Explicitly allow the example linklist file
!/linklist-example.yaml
